# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.sdf
*.suo
*.opensdf
*/ipch/*
*.idb
Debug

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.out
*.app
*.log
*.tlog
